header {
  height: 540px;
}

.nav {
  position: sticky;
  top: 0;
  z-index: 2;
  max-width: 80%;
  height: 90px;
  margin: 30px auto 0;
  transition: all 0.3s ease;
}

.main__nav {
  color: $text-white;
  background-color: $complimentary-color;

  &_scroll {
    max-width: 100%;
    color: $complimentary-color;
    background-color: $white;
    border-radius: 5px;
    box-shadow: 0 5px 35px 0 #00000025;
  }
}

.menu {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0 20%;
  list-style-type: none;

  &__item {
    display: inline-block;
    line-height: 90px;
    text-align: center;

    &:hover {
      background-color: $primary-color;
      transition: 0.3s all;
    }
  }

  &__link {
    padding: 35px 24px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    text-decoration: none;
  }
}

.subheader {
  padding: 80px 0 110px 0;

  &__slogan {
    display: block;
    width: 45%;
    color: $black;
    font-weight: 800;
    font-size: 60px;
    letter-spacing: 1.5px;
    text-align: left;
    text-transform: uppercase;
  }

  &__descr {
    display: block;
    width: 40%;
    height: 73px;
    margin-top: 36px;
    color: $complimentary-color;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }

  &__video {
    float: right;
    width: 50%;
    height: 356px;
    max-height: 100%;
    object-fit: cover;
    box-shadow: 0 0 25px $complimentary-color;
  }

  &__img {
    position: relative;
    justify-content: end;
    float: right;
    width: 50%;
    height: 303px;
    background: url('img/startup.jpg') center / 100% auto no-repeat;
    box-shadow: 0 0 25px $complimentary-color;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
    }
  }
}
