.services {
  display: flex;
  padding-top: 115px;
  padding-bottom: 80px;

  &_left {
    float: left;
    width: 40%;
  }

  &_right {
    display: flex;
    flex-wrap: wrap;
    float: right;
    width: 60%;
  }

  &_descr {
    width: 80%;
    margin-top: 50px;
    color: $black;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }
}

.service_block {
  float: left;
  width: 43%;
  margin: 0  0 30px 30px;
}

.service_header {
  margin: 35px 0 17px 0;
  color: $complimentary-color;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
}

.service_descr {
  width: 95%;
  max-width: 290px;
  color: $complimentary-color;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
}
