@import 'libs/normalize';

@import 'base/variables';

@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/elements';
@import 'blocks/services';
@import 'blocks/products';
@import 'blocks/team';
@import 'blocks/subscribe';
@import 'blocks/contact';
@import 'blocks/footer';

@import 'base/media';

* {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  background-color: $bg-light;
}

a {
  color: inherit;
  cursor: pointer;
}

main {
  background-color: $white;
}

button {
  cursor: pointer;
}

.container {
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
}
