* {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
}

header {
  height: 660px;
  background-color: #f6f2f2;
}

.main_nav {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 90px;
  background-color: #312f30;
}

.container {
  width: 74%;
  margin-right: 13%;
  margin-left: 13%;
}

.menu {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0 20%;
  list-style-type: none;
}

.menu_item {
  display: inline-block;
  width: 90px;
  line-height: 90px;
  text-align: center;
}

.menu_item:hover {
  background-color: #ff3f40;
  transition: 0.3s all;
}

.menu_link {
  color: #f6f2f2;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
}

.subheader {
  padding: 200px 0 110px 0;
}

.subheader_slogan {
  display: block;
  height: 120px;
  color: #000000;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  text-align: left;
  text-transform: uppercase;
}

.subheader_descr {
  display: block;
  width: 40%;
  height: 73px;
  margin-top: 36px;
  color: #312f30;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
}

.subheader_img {
  position: relative;
  justify-content: end;
  float: right;
  width: 50%;
  height: 303px;
  background: url('img/startup.jpg') center / 100% auto no-repeat;
  box-shadow: 0 0 25px #312f30;
}

.subheader_img img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.main_btn {
  width: 227px;
  height: 55px;
  margin-top: 58px;
  color: #ff3f40;
  font-weight: 700;
  font-size: 18px;
  background-color: #ffffff;
  border: 2px solid #ff3f40;
  border-radius: 5px;
}

.main_btn:hover {
  color: #ffffff;
  background-color: #ff3f40;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s all;
}

.services {
  display: flex;
  padding-top: 115px;
  padding-bottom: 80px;
}

.services_left {
  float: left;
  width: 40%;
}

.services_right {
  display: flex;
  flex-wrap: wrap;
  float: right;
  width: 60%;
}

.regular_header {
  width: 88%;
  margin: 0;
  color: #312f30;
  font-weight: 700;
  font-size: 37px;
  line-height: 37px;
  text-align: left;
  text-transform: uppercase;
}

.services_descr {
  width: 80%;
  margin-top: 50px;
  color: #000000;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
}

.service_block {
  float: left;
  width: 43%;
  margin: 0  0 30px 30px;
}

.service_header {
  margin: 35px 0 17px 0;
  color: #312f30;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
}

.service_descr {
  width: 95%;
  max-width: 290px;
  color: #312f30;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
}

.page_divider {
  width: 100%;
  height: 2px;
  background-color: #ececec;
}

.products {
  padding: 105px 0 120px 0;
  text-align: center;
}

.products .regular_header {
  width: 100%;
  text-align: center;
}

.products_descr {
  width: 500px;
  margin: 35px auto 0 auto;
  color: #312f30;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.mini_divider {
  display: inline-block;
  width: 132px;
  height: 3px;
  margin-top: 30px;
  background-color: #ff3f40;
}

.products_menu {
  display: flex;
  justify-content: space-around;
  margin: 88px 0 66px 0;
  padding: 0 12%;
  list-style-type: none;
}

.products_item {
  display: inline-block;
  text-align: center;
}

.products_link {
  color: #312f30;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: none;
}

.products_link:hover {
  color: #ff3f40;
  transition: 0.3s all;
}

.products_block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.products_img {
  width: 23%;
  height: auto;
  margin-bottom: 20px;
  transition: 0.4s all;
}

.products_img:hover {
  width: 25%;
  height: auto;
  transition: 0.4s all;
}

.team {
  padding-bottom: 110px;
}

.team_descr {
  width: 40%;
  margin: 40px 0 0 0;
  color: #312f30;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
}

.team_photo_big {
  float: left;
  width: 321px;
  height: 458px;
  margin: 70px 70px 0 0;
  background: url('img/team_1.jpg') center / auto 100% no-repeat;
}

.team_member_header {
  display: inline-block;
  margin: 85px 0 35px 0;
  color: #312f30;
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase;
}

.team_member_descr {
  width: 85%;
  color: #312f30;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
}

.team_member_social {
  margin-top: 40px;
}

.team_member_social p {
  display: inline-block;
  margin: 0 30px 0 0;
  color: #312f30;
  font-size: 18px;
  font-style: italic;
  line-height: 18px;
}

.team_photos {
  display: inline-flex;
  justify-content: space-between;
  width: 58%;
  margin: 67px 0 0 0;
}

.member_photo_1 {
  width: 23%;
  height: 214px;
  background: url('img/team_2.jpg') center / auto 100% no-repeat;
}

.member_photo_2 {
  width: 23%;
  height: 214px;
  background: url('img/team_3.jpg') center / auto 100% no-repeat;
}

.member_photo_3 {
  width: 23%;
  height: 214px;
  background: url('img/team_4.jpg') center / auto 100% no-repeat;
}

.member_photo_4 {
  width: 23%;
  height: 214px;
  background: url('img/team_5.jpg') center / auto 100% no-repeat;
}

.subscribe {
  position: relative;
  padding: 140px 0 140px 0;
  text-align: center;
}

.subscribe::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: url('img/subscribe_bg.jpg') top / 100% auto no-repeat, rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  filter: blur(4px);
  content: '';
}

.subscribe_header {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 30px;
  color: rgb(255, 255, 255, 0.8);
  font-weight: 700;
  font-size: 42px;
  line-height: 42px;
}

.subscribe_descr {
  margin: 0 0 62px 0;
  color: rgb(255, 255, 255, 0.8);
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.mail_form {
  width: 521px;
  height: 79px;
  margin-right: 22px;
  padding-left: 36px;
  color: #2c2c2c;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  background-color: #ffffff;
  border: none;
}

.button_submit {
  width: 214px;
  height: 79px;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  background-color: #ff3f40;
  border: none;
  border-radius: 5px;
  transition: 0.3s all;
}

.button_submit:hover {
  color: #ff3f40;
  background-color: #ffffff;
  cursor: pointer;
  transition: 0.3s all;
}

.contact {
  position: relative;
  width: 60%;
  padding: 105px 0 110px 0;
}

.contact_descr {
  margin-top: 50px;
  margin-bottom: 24px;
  color: #312f30;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
}

.contact_form {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 75px;
}

.contact_form input {
  flex-grow: 0;
  box-sizing: border-box;
  width: 45%;
  height: 69px;
  padding-left: 48px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 400;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 5px;
}

.contact_form textarea {
  box-sizing: border-box;
  width: 100%;
  height: 249px;
  margin-top: 46px;
  padding: 35px 0 0 51px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 400;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 5px;
  resize: none;
}

.contact_form .button_submit {
  width: 100%;
  height: 72px;
  margin-top: 45px;
}

.contact_form .button_submit:hover {
  border: 2px solid #ff3f40;
}

.contact_block {
  position: absolute;
  right: -95.9%;
  bottom: 110px;
  box-sizing: border-box;
  width: 577px;
  height: 481px;
  padding: 145px 210px 145px 80px;
  background-color: #312f30;
}

.contact_header {
  margin-bottom: 10px;
  color: #e0e0e0;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
}

.contact_info {
  margin-top: 30px;
  color: #e0e0e0;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}

footer {
  box-sizing: border-box;
  height: 111px;
  padding: 45px 0 37px 0;
  background-color: #312f30;
}

.footer_row {
  display: flex;
  justify-content: space-between;
  vertical-align: bottom;
}

.footer_copyright {
  margin: auto 0;
  color: #e0e0e0;
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
}

.footer_copyright a {
  color: #e0e0e0;
  text-decoration: none;
  transition: 0.3s all;
}

.footer_copyright a:hover {
  color: #ff3f40;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s all;
}

.footer_copyright a:visited {
  text-decoration: none;
}

.footer_social {
  display: inline-flex;
  justify-content: space-between;
  width: 185px;
  text-align: right;
}

.social_icon {
  transition: 0.4s all;
}

.social_icon:hover {
  width: 105%;
  height: auto;
  transition: 0.4s all;
}
